<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>服务器软配置信息管理</title>
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>

<body>
    <div id="wrapper" v-cloak>
        <el-container>
            <!-- el-aside要放在外面，保证element的布局 -->
            <el-aside :width="isCollapse ? '64px' : '200px'" style="background-color: black; transition: width 0.5s">
                <!-- 在组件的props中设置默认打开的index -->
                <sidebar :iscollapse="isCollapse" :user="user" index="2-1"></sidebar>
            </el-aside>
            <el-container>
                <el-header style="background-color: black; line-height: 60px; color: white;">
                    <el-row>
                        <el-col :span="1">
                            <i style="font-size: 22px; cursor: pointer"
                                :class="[isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold']"
                                @click="handleCollapse"></i>
                        </el-col>
                        <el-col :span="2" :offset="21" style="text-align: right">
                            <span style="color: white; margin-right: 10px">{{user.username}}</span>
                            <el-dropdown>
                                <img src="/files/avatar"
                                    style="width: 40px; height: 40px; margin-right: 10px; border-radius: 50%">
                                <el-dropdown-menu slot="dropdown">
                                    <a href="/page/end/person.html"
                                        style="display:inline-block; padding: 5px 0; width: 100px; text-align: center; color: black">个人信息</a>
                                    <a @click="logout" href="#"
                                        style="display:block; width: 100px;  text-align: center; color: black">退出</a>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </el-col>
                    </el-row>
                </el-header>
                <!-- 主体区域 -->
                <el-main>
                    <div style="color: black; font-size: 20px; margin: 10px 0">服务器软配置信息管理</div>
                    <div style="height: 1px; background-color: white"></div>
                    <el-input v-model="search" style="width: 20%;" suffix-icon="el-icon-search" placeholder="请输入名称按回车搜索"
                        @keyup.enter.native="loadTable"></el-input>
                    <el-button @click="clearFilter" type="primary" size="mini" tyle="margin: 10px 0">清除所有过滤器</el-button>
                    <el-button @click="add" type="primary" size="mini" style="margin: 10px 0">新增</el-button>
                    <!-- <el-button @click="exp" type="primary" size="mini" style="margin: 10px 0">导出</el-button> -->
                    <el-table ref="filterTable" :data="tableData" border style="width: 100%">
                        <!-- 因为表格中的部分列要进行筛选，所以不用v-for生成表格 -->
                        <el-table-column prop="name" label="服务器名称">
                        </el-table-column>
                        <el-table-column prop="serIp" label="IP">
                        </el-table-column>
                        <el-table-column prop="username" label="root用户名">
                        </el-table-column>
                        <el-table-column prop="password" label="root用户密码">
                        </el-table-column>
                        <el-table-column prop="serType" label="服务器类别" sortable column-key="serType"
                            :filters="type_options" :filter-method="filterHandler">
                        </el-table-column>
                        <el-table-column prop="serOs" label="操作系统" sortable column-key="serOs" :filters="os_options"
                            :filter-method="filterHandler">
                        </el-table-column>
                        <el-table-column prop="serBelong" label="所属实验室" sortable column-key="serBelong"
                            :filters="belong_options" :filter-method="filterHandler">
                        </el-table-column>
                        <el-table-column prop="serOwner" label="使用人" sortable>
                        </el-table-column>
                        <!-- IPMI_IP, IB_IP, IPMI信息暂时不显示  -->
                        <el-table-column prop="serPurpose" label="服务器用途">
                        </el-table-column>
                        <el-table-column prop="remarks" label="备注">
                        </el-table-column>
                        <el-table-column fixed="right" label="操作" width="100">
                            <template slot-scope="scope">
                                <el-button @click="edit(scope.row)" type="text">编辑</el-button>
                                <el-popconfirm @onConfirm="del(scope.row.id)" title="确定删除？">
                                    <el-button type="text" slot="reference">删除</el-button>
                                </el-popconfirm>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!-- 分页 -->
                    <div style="background-color: white">
                        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                            :current-page="pageNum" :page-sizes="[5, 10, 20, 40]" :page-size="pageSize"
                            layout="total, sizes, prev, pager, next, jumper" :total="total">
                        </el-pagination>
                    </div>
                    <!-- 在这里针对每个不同的模型定制新建/编辑的表单-->
                    <el-dialog
                        title="服务器信息"
                        :visible.sync="dialogFormVisible"
                        width="40%"
                        close-on-click-modal="false"
                        close-on-press-escape="false"
                        show-close="false">
                        <el-form
                            :model="entity"
                            @submit.native.prevent="save"
                            :label-position="left"
                            label-width="100px"
                            :rules="rules"
                            ref="ruleForm">
                            <el-form-item label="服务器名称" prop="name">
                                <el-col :span="8">
                                    <el-input v-model="entity.name" maxlength="20" show-word-limit></el-input>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="服务器IP" prop="serIp">
                                <el-col :span="8">
                                    <el-input v-model="entity.serIp"></el-input>
                                </el-col>
                            </el-form-item>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="登录用户名" prop="username">
                                        <el-input v-model="entity.username"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="登录密码" prop="password">
                                        <el-input v-model="entity.password"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="服务器类别" prop="serType">
                                        <el-select v-model="entity.serType" placeholder="请选择">
                                            <el-option :label="item.text" :value="item.value"
                                                v-for="item in type_options">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="操作系统" prop="serOs">
                                        <el-select v-model="entity.serOs" placeholder="请选择">
                                            <el-option :label="item.text" :value="item.value"
                                                v-for="item in os_options">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="所属实验室" prop="serBelong">
                                        <el-select v-model="entity.serBelong" placeholder="请选择">
                                            <el-option :label="item.text" :value="item.value"
                                                v-for="item in belong_options">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-collapse v-model="activeNames">
                                <el-collapse-item title="集群信息" name="1">
                                    <el-form-item label="IPMI_IP" prop="ipmiIp">
                                        <el-input v-model="entity.ipmiIp"></el-input>
                                    </el-form-item>
                                    <el-form-item label="IB_IP" prop="ibIp">
                                        <el-input v-model="entity.ibIp"></el-input>
                                    </el-form-item>
                                    <el-form-item label="IPMI信息" prop="ipmiAdminPassword">
                                        <el-input v-model="entity.ipmiAdminPassword" placeholder="用“/”分隔用户名和密码"></el-input>
                                    </el-form-item>
                                </el-collapse-item>
                            </el-collapse>
                            <el-form-item label="用途" prop="serPurpose">
                                <el-col :span="16">
                                    <el-input type="textarea" :autosize="{ minRows: 1, maxRows: 4 }"
                                        v-model="entity.serPurpose"></el-input>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="备注信息" prop="remarks">
                                <el-col :span="16">
                                    <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4 }"
                                        v-model="entity.remarks"></el-input>
                                </el-col>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="save('ruleForm')">立即创建</el-button>
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                            </el-form-item>
                        </el-form>
                    </el-dialog>

                </el-main>
            </el-container>
        </el-container>
    </div>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/element.js"></script>
    <script src="../../js/tinymce/tinymce.min.js"></script>
    <script src="../../js/httpVueLoader.js"></script>
    <script src="../../js/base.js"></script>

    <script>

        let urlBase = "/serverSoft/";
        Vue.use(httpVueLoader)
        new Vue({
            el: "#wrapper",
            // 局部注册侧边栏组件
            components: {
                'sidebar': 'url:./components/Sidebar.vue',
                'my-component': 'url:./components/my-component.vue'
            },
            data: {
                user: {},
                tableData: [],
                pageNum: 1,
                pageSize: 10,
                total: 0,
                dialogFormVisible: false,
                entity: {},
                isCollapse: false,
                search: '',
                activeNames: ['0'], // 不主动打开集群信息的面板


                // 为保证筛选和新建表单的下拉选项一致，在data中定义这些options对象
                os_options: [{ text: 'Windows', value: 'Windows' }, { text: 'Linux', value: 'Linux' }],
                type_options: [{ text: 'GPU服务器', value: 'GPU服务器' }, { text: '刀片服务器', value: '刀片服务器' }],
                belong_options: [{ text: '218', value: '218' }, { text: '217', value: '217' }],

                // 增加表单校验规则
                rules: {
                    name: [
                        { required: true, message: '请输入服务器名称', trigger: 'blur' },
                    ],
                    serIp: [
                        { required: true, message: '请输入服务器IP', trigger: 'blur' },
                    ],
                    serType: [
                        { required: true, message: '请选择服务器类型', trigger: 'change' }
                    ],
                    username: [
                        { required: true, message: '请输入登录用户名', trigger: 'blur' },
                    ],
                    password: [
                        { required: true, message: '请输入登录密码', trigger: 'blur' },
                    ],
                    serOs: [
                        { required: true, message: '请选择操作系统', trigger: 'change' }
                    ],
                    serBelong: [
                        { required: true, message: '请选择所属实验室', trigger: 'change' }
                    ],
                    serOwner: [{ required: true, message: '请输入使用人', trigger: 'blur' },],
                    serPurpose: [
                        { required: true, message: '请输入服务器用途', trigger: 'blur' },
                        { min: 0, max: 200, message: '长度最大为200个字符', trigger: 'blur' }
                    ],
                    remarks: [
                        { required: false, message: '请输入备注信息', trigger: 'blur' },
                        { min: 0, max: 200, message: '长度最大为200个字符', trigger: 'blur' }
                    ],
                }

            },
            created() {
                this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
                this.loadTable();


            },
            methods: {
                handleCollapse() {
                    this.isCollapse = !this.isCollapse;
                },
                logout() {
                    $.get("/user/logout");
                    sessionStorage.removeItem("user");
                    location.href = "/page/end/login.html";
                },
                loadTable() {
                    $.get(urlBase + "/page?pageNum=" + this.pageNum + "&pageSize=" + this.pageSize + "&name=" + this.search).then(res => {
                        this.tableData = res.data.records;
                        this.total = res.data.total;
                    })
                },
                exp() {
                    window.open(urlBase + "/export");
                },
                handleSizeChange(pageSize) {
                    this.pageSize = pageSize;
                    this.loadTable();
                },
                handleCurrentChange(pageNum) {
                    this.pageNum = pageNum;
                    this.loadTable();
                },
                add() {
                    this.entity = {};
                    this.dialogFormVisible = true;
                },
                save(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            let type = this.entity.id ? "PUT" : "POST";
                            $.ajax({
                                url: urlBase,
                                type: type,
                                contentType: "application/json",
                                data: JSON.stringify(this.entity)
                            }).then(res => {
                                if (res.code === '0') {
                                    this.$message({
                                        message: "保存成功",
                                        type: "success"
                                    });
                                    this.loadTable();
                                } else {
                                    this.$message({
                                        message: res.msg,
                                        type: "error"
                                    })
                                }
                                this.dialogFormVisible = false;
                            })
                        } else {
                            this.$message({
                                message: "无效的创建数据",
                                type: "warning"
                            })
                            return false;
                        }
                    });
                },
                edit(obj) {
                    this.entity = obj;
                    this.dialogFormVisible = true;
                },
                del(id) {
                    $.ajax({
                        url: urlBase + id,
                        type: "delete"
                    }).then(res => {
                        if (res.code === '0') {
                            this.$message({
                                message: "删除成功",
                                type: "success"
                            })
                            this.loadTable();
                        } else {
                            this.$message({
                                message: res.msg,
                                type: "error"
                            })
                        }
                    })
                },
                clearFilter() {
                    this.$refs.filterTable.clearFilter();
                },
                filterHandler(value, row, column) {
                    const property = column['property'];
                    return row[property] === value;
                }
            }
        })
    </script>
</body>

</html>